<%= form_for(@findme) do |f| %>
  <% if @findme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@findme.errors.count, "error") %> prohibited this findme from being saved:</h2>

      <ul>
      <% @findme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :name_location %><br />
    <%= f.text_field :name_location %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.text_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
