<h1>Listing findmes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Name location</th>
    <th>Address</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @findmes.each do |findme| %>
  <tr>
    <td><%= findme.title %></td>
    <td><%= findme.description %></td>
    <td><%= findme.name_location %></td>
    <td><%= findme.address %></td>
    <td><%= findme.photo %></td>
    <td><%= link_to 'Show', findme %></td>
    <td><%= link_to 'Edit', edit_findme_path(findme) %></td>
    <td><%= link_to 'Destroy', findme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Findme', new_findme_path %>
