<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @findme.title %>
</p>

<p>
  <b>Description:</b>
  <%= @findme.description %>
</p>

<p>
  <b>Name location:</b>
  <%= @findme.name_location %>
</p>

<p>
  <b>Address:</b>
  <%= @findme.address %>
</p>

<p>
  <b>Photo:</b>
  <%= @findme.photo %>
</p>


<%= link_to 'Edit', edit_findme_path(@findme) %> |
<%= link_to 'Back', findmes_path %>
