<% content_for :pagetitle do %>
  Accueil
<% end %>

<% content_for :pagecontent do %>
  <div class="row">

  	<div class="small-12 columns"><img src="http://placehold.it/1200x400"></div>

	<div class="small-12 columns"><h2>Adopte un bot en trois étapes</h2></div>

  	<div class="small-12 large-4 columns">
  		<div class="panel radius">
	  		<h4>1 - L'inscription</h4>
	  		<p>Lorem ipsum sin dolor est erectum cartage delenta estumis despues est minoritis aquae doloret</p>
  		</div>
  	</div>

  	<div class="small-12 large-4 columns">
  		<div class="panel radius">
	  		<h4>2 - Devenez premium !</h4>
	  		<p>Lorem ipsum sin dolor est erectum cartage delenta estumis despues est minoritis aquae doloret</p>
  		</div>
  	</div>

  	<div class="small-12 large-4 columns">
  		<div class="panel radius">
	  		<h4>3 - Devenez irrésistible !</h4>
	  		<p>Lorem ipsum sin dolor est erectum cartage delenta estumis despues est minoritis aquae doloret</p>
  		</div>
  	</div>
  </div>
<% end %>