/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

body
{
	background-color:#2D2A28 !important;
}

body *
{
	font-family: 'Century Gothic',Verdana,Tahoma,Arial,Sans-Serif !important;
}

.wrapper
{
	background-color:#5B5753 !important;
	-webkit-box-shadow: inset 0px 8px 10px -10px #666666;
	box-shadow: inset 0px 8px 10px -10px #666666;
}

h1, h2, h3, h4, h5, h6 { text-transform: uppercase; padding: 10px 0px; border-bottom: solid 1px black; margin-top: 10px;}

h3,h4,h5,h6 {text-align: center; padding-bottom: 10px !important;}


footer
{
 color: white;
}