<h1>Listing expos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Date time</th>
    <th>Address</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expos.each do |expo| %>
  <tr>
    <td><%= expo.title %></td>
    <td><%= expo.description %></td>
    <td><%= expo.date_time %></td>
    <td><%= expo.address %></td>
    <td><%= expo.city %></td>
    <td><%= link_to 'Show', expo %></td>
    <td><%= link_to 'Edit', edit_expo_path(expo) %></td>
    <td><%= link_to 'Destroy', expo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expo', new_expo_path %>
