<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @expo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @expo.description %>
</p>

<p>
  <b>Date time:</b>
  <%= @expo.date_time %>
</p>

<p>
  <b>Address:</b>
  <%= @expo.address %>
</p>

<p>
  <b>City:</b>
  <%= @expo.city %>
</p>


<%= link_to 'Edit', edit_expo_path(@expo) %> |
<%= link_to 'Back', expos_path %>
