<% content_for :pagetitle do %>
  Furniture
<% end %>

<% content_for :pagecontent do %>
<div class="row">
<% @furnitures.each do |furniture| %>

  <div class="large-4 columns">
    <div class="panel">
      <p>
	<%= link_to image_tag("http://placehold.it/400x300"), furniture %>

<!--      <h4><%= furniture.title %></h4>
      <p><%= furniture.description %></p>
      <p><%= furniture.photo %></p>
      <tr>
	<td><%= link_to 'Show', furniture %></td>
	<td><%= link_to 'Edit', edit_furniture_path(furniture) %></td>
	<td><%= link_to 'Destroy', furniture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
      </p>
    </div>
  </div>
<% end %>
</div>
<% end %>
