<% content_for :pagetitle do %>
  New Furniture POWWAAA
<% end %>

<% content_for :pagecontent do %>
  <div class="row">
    
    <div class="small-12 columns"><img src="http://placehold.it/1200x400"></div>
    
    <div class="small-12 columns"><h2>Adopte un bot en trois étapes</h2></div>
    
    <%= render 'form' %>
  </div>
  <% end %>
