<% content_for :pagetitle do %>
    <%= @furniture.title %>
<% end %>

<% content_for :pagecontent do %>
  <div class="row">
    <div class="large-6 columns">
      <img src="http://placehold.it/500x500&text=Image"><br>
    </div>

    <div class="large-6 columns">
      <h3 class="show-for-small"><%= @furniture.title %> <hr/></h3>
      <div class="panel">
        <h4 class="hide-for-small"><%= @furniture.order_type %><hr/></h4>
	<h5 class="subheader"><%= @furniture.description %></h5>
      </div>
    </div>
  </div>
<% end %>
