<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row wrapper">
      <div class="large-12 columns">
    <nav class="top-bar">
      <ul class="title-area">
	<!-- Title Area -->
	<li class="name">
          <h1>
            <a href="#">
              LDT
            </a>
          </h1>
	</li>
	<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>
      
      <section class="top-bar-section">
	<!-- Right Nav Section -->
	<ul class="right">
          <li class="divider"></li>
          <li><a href="/furnitures">Stock</a></li>
          <li class="divider"></li>
          <li><a href="/contact/index">Contact</a></li>
	</ul>
      </section>
    </nav>
</div>
</div>
    
  <!-- End Top Bar -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row wrapper">
    <div class="small-12 columns">
      
      <h1><%= yield :pagetitle %></h1>

      <%= yield :pagecontent %>
    
    </div>        
  </div>



  <footer class="row wrapper">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright l'Or du Temps.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
	    <li><a href="https://www.facebook.com/pages/Lor-du-temps/174179912641736" data-placement="below" rel="external" title="Facebook"><img src="<%= asset_path( 'facebook-icon.png' ) %>"></a></li>
	    <li><a href="http://themes.siiimple.com/zoho/pageExample" data-placement="below" rel="external" title="Email"><img src="<%= asset_path( 'email-icon.png' ) %>"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag "application" %>
  </body>
</html>
